@import "variable";

.pageHistory {
  .pageHistory_bar {
	position: relative;
	width: 70px;
	height: 70px;
	border: 1px solid #004198;
	border-radius: 50%;
	background-color: #ffffff;
	
	img {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: 50px;
	  transform: translate(-50%, -50%);
	}
  }
  
  .pageHistory_grid {
	margin-left: 36px;
  }
  .pageHistory_card {
	position: relative;
	padding-left: 75px;
	border-left: 2px solid #cbcbcb;
	
	&:before {
	  position: absolute;
	  z-index: 9;
	  top: 28px;
	  left: -9px;
	  width: 80px;
	  height: 20px;
	  content: "";
	  background-image: url("../img/dotR-on.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	}
  }
}